body {
    margin: 0;
    padding: 0;
    width: 1400px;
}

a {
    text-decoration: none;
}
/*intro*/
.container {
    width: 100%;
    height: 100vh;
    background: url("../source/image/home.jpg") center no-repeat;
    background-size: cover;
}

.intro {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
}

.logo {
    margin-left: 115px;
    width: 250px;
    height: 105px;
}
.main_menu {
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 75px;
}

.menu_a { 
    margin: 0 15px;
    text-decoration: none;
    color:#a4a4a4; 
    transition: color 0.2s linear;
    position: relative;
}

.menu_a:hover {
    color: #fff;
}

.menu_a:after {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #ff0035;
    top: 225%;
    left: 30%;
    z-index: 1;
    opacity: 0;
}

.menu_a:before {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #ff0035;
    bottom: 225%;
    left: 30%;
    z-index: 1;
    opacity: 0;
}

.menu_a:hover:after, 
.menu_a:hover:before {
    opacity: 1;
}
/*intro*/
.intro_text {
    max-width: 1300px;
    margin: 160px auto;
    line-height: 1.4;
    text-align: center;
}

.intro_title {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: bold;
    color: #ff0036;
    text-align: center;
    margin-bottom: 50px;
}

.white_word {
    color: white;
}

.black_word {
    color: #262626;
}

.red_word {
    color:  #ff0036;
}


.intro_discription {
    text-align: center;
    color: white;
    font-family: "Lato";
    font-size: 16px;
    margin-bottom: 55px;
}
/*arrows*/

.arrows {
    display: flex;
    justify-content: space-between;
}


.arrow_left {
    margin-top: 55px;
    background: url("../source/image/left.png") center no-repeat;
    display:block;
    width: 20px; 
    height: 30px;
}

.arrow_left:hover {
    background: url("../source/image/left_active.png") center no-repeat;
}


.arrow_right{
    margin-top: 55px;
    background: url("../source/image/right.png") center no-repeat;
    display:block;
    width: 20px; 
    height: 30px;
}

.arrow_right:hover {
    background: url("../source/image/right_active.png") center no-repeat;
}


/*Buttons*/
.intro_btns {
    line-height: 2.3;
}

.btn {
    display: inline-block;
    background-color: #131313;
    color: #fff;
    font-family: "Raleway";
    font-size: 20px;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    margin: 0px 15px;
    transition: background 0.2s linear;
}

.btn:hover {
    background-color: #ff0036;
}

/*SecondPart*/

.about_creativia {
    width: 100%;
    height: 1175px;
    box-sizing: border-box;
    padding: 90px 115px;
}


.about_title {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: bold;
    color: #ff0036;
    text-align: center;
    margin: 0;
}


.about_suptitle {
    text-align: center;
    color: black;
    font-family: "Lato";
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about_discription {
    width: 570px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.discription_main {
    color: #505050;
    font-family: "Lato";
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 35px;
}

.shell {
    margin-top: 10px;
    width: 570px;
    height: 45px;
    background-color: #f7f7f7;
    border: 2px solid #e7e7e7;
    color: #262626;
    font-family: "Raleway";
    font-size: 20px;
    display: flex;
    transition: color 0.2s linear;
}

.shell p {
    margin: auto 30px;
}

.plus {
    border-right: 2px solid #e7e7e7;
    padding: 12px;
    width: 20px; 
    height: 20px;
    background: url("../source/image/Shape1.png") center no-repeat;
    background-size: 20px;
    transition: background 0.1s linear;
}

.shell:hover {
    color: #ff0036;
}

.shell:hover .plus {
    background: url("../source/image/Shape2.png") center no-repeat;
}

.hidden_text {
    width: 100%;
    border: 2px solid #e7e7e7;
    border-top: none;
    font-size: 14px;
    font-family: "Lato";
    color:#505050;
    line-height: 1.4;
}

.group_img {
    position: absolute;
    max-width: 700px;
    top: 0px;
    left: 620px;
}

.disc-img {
    display: flex;
    position: relative;
}

/*Slider*/
.slider {
    margin: 45px auto;
    text-align: center;
}

/*About Icons*/
.about_icons {
    display: flex;
    text-align: center;
}

.icon {
    margin: 0 15px;
}

.img_general {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.icon_img1 {
    background: url("../source/image/icon1.png") center no-repeat;
}

.icon_img2 {
    background: url("../source/image/icon2.png") center no-repeat;
}

.icon_img3 {
    background: url("../source/image/icon3.png") center no-repeat;
}

.icon_img4 {
    background: url("../source/image/icon4.png") center no-repeat;
}

.icon_img1:hover,
.icon_img2:hover,
.icon_img3:hover,
.icon_img4:hover {
    background: url("../source/image/icon1.png") center no-repeat;
}

.icon_title {
    font-size: 20px;
    font-family: "Lato";
    text-transform: uppercase;
    color: #262626;
}

.icon_disc {
    font-size: 16px;
    font-family: "Lato";
    color: #505050;
}

/*3 section*/
.third_section {
    width: 100%;
    height: 1075px;
    box-sizing: border-box;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.third_title {
    margin-top: 90px;
    margin-bottom: 25px;
    display: block;
    font-size: 30px;
    font-family: "Raleway";
    color: white; 
}

.third_menu {
    display: flex;
    width: 415px;
    text-transform: uppercase;
    justify-content: space-between;
    margin-bottom: 95px;
}

.third_menu_item {
    font-size: 16px;
    font-family: "Lato";
    color: #a4a4a4; 
    font-weight: bold;
    transition: color 0.2s linear;
}

.third_menu_item:hover {
    color: #ff0036;
}

.third_imgs {
    display: flex;
}

.third_img {
    display: block;
    size: cover;
    height: 350px;
}

.design {
    display: block; 
    position: relative;
}

.design:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.9);
    opacity: 0;
}

.design:before {
    content: "design name";
    content: url(../source/image/design.png);
    position: absolute;
    top: 40%;
    left: 35%;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 30;
}

.design:hover:after,
.design:hover:before
{
    opacity: 1;
}

.slider2 {
    position: absolute;
    top: 1063px;
    left: calc(50% - 259px);
}

/*fourth*/

.fouth_section {
    box-sizing: border-box;
    width: 1400px;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.third_title {
    font-size: 30px;
    font-family: "Raleway";
    color: white; 
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 50px;
}

.third_disc {
    font-size: 16px;
    font-family: "Raleway";
    color: #505050; 
    font-weight: bold;
    margin-bottom: 170px;
    margin-top: 0;
}

.lists_img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left_list,
.right_list {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_list {
    margin-left: 110px;
}

.right_list {
    margin-right: 110px;
}


.list_item {
    border: 2px solid #e7e7e7;
    width: 370px;
    height: 50px;
    font-size: 20px;
    font-family: "Raleway";
    color: #262626; 
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: background 0.2s linear;
    transition: border 0.4s linear;
}

.list_item:hover {
    border: 2px solid #ff0036;
    background-color: #ff0036;
    color: white;
}

.list_item:hover .select {
    background: url(../source/image/select_red.png) center no-repeat;
}

.left_item_fix {
    display: flex;
    justify-content: flex-end;
}

.phone {
    position: absolute;
    top: 215px;
    left: 438px;
}

.select {
    background: url(../source/image/select.png) center no-repeat;
    width: 50px;
    height: 50px;
    margin: auto 15px;
}

.slider3 {
    position: absolute;
    top: 1063px;
    left: calc(50% - 259px);
}